Source: hdparm
Section: admin
Priority: extra
Maintainer: Steve Dunham <dunham@cps.msu.edu>
Standards-Version: 2.1.0.0

Package: hdparm
Architecture: any
Depends: ${shlibs:Depends}
Description: Tune hard disk parameters for high performance.
 Shell utility to access/tune ioctl features of the
 linux hard disk and (E)IDE drivers for kernel 1.1.65+.
 Primary use is for enabling irq-unmasking and IDE multiplemode.
