#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- EXTRA_LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)

override_dh_installinit:
	dh_installinit --no-start --update-rcd-params='start 07 S . '

override_dh_installudev:
	dh_installudev --priority=85

override_dh_fixperms:
	dh_fixperms 
	chmod 755 $(CURDIR)/debian/hdparm/etc/apm/event.d/20hdparm
	chmod 755 $(CURDIR)/debian/hdparm/usr/lib/pm-utils/power.d/95hdparm-apm
